@{
    ViewData["Title"] = "Order is placed";
}

<p>
    Order is placed. We're starting to give your order to delivery company.
    Wait for SMS.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">To start page</a>
</p>