@model OrderModel

@{
    ViewData["Title"] = "Your order id.";
}

<h1>Order confirmed!</h1>

<form action="@Url.Action("Index", "Home")" method="post">
    <button class="btn btn-success" type="submit">To home page</button>
</form>