@model Bicycle[] 

@{
    ViewData["Title"] = "Conclusion of search";
}
<h1>Conclusion of search</h1>

@if (Model.Length == 0)
{
    <p> Nothing's find!</p>
}
else
{
    <ul>
        @foreach(var bicycle in Model)
        {
            <li><a href="@Url.Action("Index", "Bicycle", new {id = bicycle.ID})">@bicycle.Title</a></li>
        }
    </ul>
}
